@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
    font-family: 'fjallaone';
    src: URL('../fonts/fjalla/FjallaOne-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}
  @font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/static/Raleway-Italic.ttf') format('truetype');
}
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    
  }
#app {
    font-family: 'fjallaone';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: lab(93% 0 0);
  }
  
  #logoimg {
    width:6vw;
    height:10vh;
  }